version_8_theme_child_rp/desktop.ini
version_8_theme_child_rp/page-templates/desktop.ini
version_8_theme_child_rp/page-templates/home-page.php
version_8_theme_child_rp/style.css
version_8_theme_child_rp/functions.php
version_8_theme_child_rp/page-templates/header-large.php
version_8_theme_child_rp/readme.txt
version_8_theme_child_rp/screenshot.png
version_8_theme_child_rp/template-parts/content-page.php
version_8_theme_child_rp/template-parts/desktop.ini